<div>
    <header
        x-data="[[id]]"
        class="flex items-center transition-[height] shrink-0 bg-[--tw-page-bg] dark:bg-[--tw-page-bg-dark] py-4 lg:py-0 lg:h-[--tw-header-height]"
        data-sticky="true"
        data-sticky-class="transition-[height] fixed z-10 top-0 left-0 right-0 shadow-sm backdrop-blur-md bg-white/70 dark:bg-coal-500/70 dark:border-b dark:border-b-coal-100"
        data-sticky-name="header"
        data-sticky-offset="200px"
        id="header"
    >
        <div
            class="container-fixed flex flex-wrap gap-2 items-center lg:gap-4"
            id="header_container"
        >
            <div class="flex items-stretch gap-10 grow">
                <div class="flex items-center gap-2.5">
                    <a href="/" data-navigo>
                        <img
                            class="min-h-[34px]"
                            src="/assets/images/logo.svg"
                            alt="Logo"
                        />
                    </a>
                    <button
                        class=" btn btn-icon btn-light btn-clear btn-sm"
                        data-drawer-toggle="#mega_menu_wrapper"
                    >
                        <iconify-icon icon="mdi:home" width="24" height="24"></iconify-icon>
                    </button>
                    <h3
                        class="text-gray-900 text-lg font-medium hidden md:block"
                    >
                        TMC111 - 信賢
                    </h3>
                </div>
            </div>
        </div>
    </header>

    <div class="nav">
        <a href="/" data-navigo class="ftsl-text-sing">Home</a>
        <a href="/about" data-navigo class="text-primary">About</a>
        <a href="/contact" data-navigo class="sing">Contact</a>
    </div>
</div>
