<header
    x-data="HMSHeader"
    class="flex items-center transition-[height] shrink-0 bg-[--tw-page-bg] dark:bg-[--tw-page-bg-dark] py-4 lg:py-0 lg:h-[--tw-header-height]"
    data-sticky="true"
    data-sticky-class="transition-[height] fixed z-10 top-0 left-0 right-0 shadow-sm backdrop-blur-md bg-white/70 dark:bg-coal-500/70 dark:border-b dark:border-b-coal-100"
    data-sticky-name="header"
    data-sticky-offset="200px"
    id="header"
>
    <!-- Container -->
    <div class="container-fluid flex flex-wrap gap-2 items-center lg:gap-4" id="header_container">
        <!-- Logo -->
        <div class="flex items-stretch gap-10 grow">
            <div class="flex items-center gap-2.5">
                <a href="/" data-navigo>
                    <img class="min-h-[34px]" src="/assets/images/logo.svg" alt="Logo" />
                </a>
                <button
                    class="lg:hidden btn btn-icon btn-light btn-clear btn-sm"
                    data-drawer-toggle="#mega_menu_wrapper"
                >
                    <iconify-icon icon="mdi:home" width="24" height="24"></iconify-icon>
                </button>
                <h3
                    class="text-gray-900 text-lg font-medium hidden md:block"
                    x-text="`${constant.project_code} - ${constant.maincon_chi_name}`"
                ></h3>
            </div>
            <!-- Mega Menu -->
            <div class="flex items-stretch" id="mega_menu_container">
                <div
                    class="flex items-stretch"
                    data-reparent="true"
                    data-reparent-mode="prepend|lg:prepend"
                    data-reparent-target="body|lg:#mega_menu_container"
                >
                    <div
                        class="hidden lg:flex lg:items-stretch"
                        data-drawer="true"
                        data-drawer-class="drawer drawer-start fixed z-10 top-0 bottom-0 w-full mr-5 max-w-[250px] p-5 lg:p-0 overflow-auto"
                        data-drawer-enable="true|lg:false"
                        id="mega_menu_wrapper"
                    >
                        <div
                            class="menu flex-col lg:flex-row gap-5 lg:gap-7.5"
                            data-menu="true"
                            id="mega_menu"
                        >
                            <div class="menu-item active">
                                <a
                                    class="menu-link border-b border-b-transparent menu-item-active:border-b-gray-400 menu-item-here:border-b-gray-400"
                                    href="html/demo7.html"
                                >
                                    <span
                                        class="menu-title menu-link-hover:text-gray-900 text-2sm text-gray-800 dark:menu-item-here:text-gray-900 dark:menu-item-active:text-gray-900 menu-item-show:text-gray-900 menu-item-here:text-gray-900 menu-item-active:font-medium menu-item-here:font-medium"
                                    >
                                        Boards
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Mega Men -->
        </div>
        <!-- End of Logo -->

        <!-- Topbar -->
        <div class="flex items-center flex-wrap gap-2 lg:gap-3.5">
            <div class="border-e border-gray-200 h-5 mx-1.5 lg:mx-3"></div>

            <template x-ref="User"></template>
        </div>
    </div>
</header>
